@import "../../style/globals.scss";

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  .profile {
    width: 110px;
    height: 110px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }
  }
  .profile_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    h3 {
      color: $white;
      font-size: 2rem;
      @media screen and (max-width: 500px) {
        font-size: 1.5rem;
      }
      span {
        color: $purple;
      }
    }
  }
  .job {
    color: $white;
    opacity: 0.6;
    font-size: 0.85rem;
  }
}
